main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .tile2 {
        background-image: url(../../content/bg-showcase-1.jpg);
    }

    .tile3 {
        background-image: url(../../content/bg-showcase-2.jpg);
    }

    .tile6 {
        background-image: url(../../content/bg-showcase-3.jpg);
    }

    div {
        height: 350px;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        width: 75%;
        color: $text-color;
        line-height: 1.5em;
        margin: 15px 25px 0 50px
    }

    h2 {
        margin-left: 50px;
    }
}