@import "variables";
@mixin testimonials {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      box-shadow: 0 3px 5px black;
      margin-bottom: 15px;
      }
@mixin article {
    background: url(/content/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
 
}
@mixin footer-content {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
@import "reset";
@import "nav";
@import "article";
@import "section";
@import "main";
@import "reviews";
@import "footer";
@import "media";

